* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: white;
    margin: 0;
    flex-direction: column;
    justify-content: flex-start;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1%;
    background-color: white;
    color: black;
    
}

h1 {
    font-size: 300%;
}


.ela {
    color: rgb(253, 143, 143);
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 10%;
    background-color:rgb(253, 143, 143);
}

nav a {
    padding: 1% 5%;
    text-decoration: bold;
    text-align: center;
    color: white;
    font-size: 100%;

}

aside {
    margin-left: 0%;
    padding: 1%;
    clear: both;
    float: left;
    width: 20%;
    height: 100vh;
    background-color: white;
    color: black;
    font-size: 100%;
  
}

aside img {
    width: 100%;
    display: flex;
}

main header {
    font-size: 200%;
}

main {
    display: flex;
    flex: 1 0 0;
    max-width: 80%;
    padding: 1%;
    text-align: left;
}

main img {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.projects {
    flex: 1 1 0;
    width: 100%;
    padding-right: 5%;
}

.tbd {
    flex: 1 1 0;
    width: 50%;
    padding-right: 5%;

}


h3 {
    font-size: 120%;
}

footer {
    clear: both;
    text-align: center;
}

footer h4 {
    font-size: 100%; 
}
